---
layout: page
title: Het Vergaderhof
permalink: /
---
{% if site.data_debug_enabled %}
<pre>
  home_content: {{ site.data.home_content | jsonify | escape }}
</pre>
{% endif %}

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">{{ site.data.home_content.slider_title }}</h1>
          <p class="brand-name animated fadeInUp">{{ site.data.home_content.slider_subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ site.data.home_content.p1_h }}</h2>
            <p>{{ site.data.home_content.p1_fairy }}</p>
          </div>
          <p>{{ site.data.home_content.p1 }}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>{{ site.data.home_content.p2_h }}</h2>
      {% for content in site.data.home_content.p2 %}
        <p>{{ content.body }}</p>
      {% endfor %}
      <h2>{{ site.data.home_content.p2_h2 }}</h2>
      {% for content in site.data.home_content.p2_2 %}
        <p>{{ content.body }}</p>
      {% endfor %}
      <a href="{{ site.baseurl }}/zaal" class="btn btn-view-works">Onze Zaal</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ site.data.home_content.service_title }}</h2>
        <p>{{ site.data.home_content.service_subtitle }}</p>
      </div>
    </div>
    <div class="row ">
      {% for service in site.data.home_content.services %}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="{{ service.icon }}"></i>
          <h4>{{ service.title }}</h4>
          <p>{{ service.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Reserveer nu!</h2>
          <p>Voor meer informatie of reservaties gelieve ons via deze pagina te contacteren.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Geef ons een seintje</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% if site.fun_facts_enabled %}
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</section>
{% endif %}
