---
layout: page
title: Onze zalen
permalink: /zaal/
---
{% if site.data_debug_enabled %}
<pre>
  rooms: {{ site.data.rooms | jsonify | escape }}
</pre>
{% endif %}
    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>{{ site.data.rooms.slider_title }}</h1>
                    <p>{{ site.data.rooms.slider_subtitle }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" style="padding-bottom: 0 !important;">
  <div class="container">
    <div class="row">
      <div class="section-title" style="margin-bottom: 0px !important;">
        <p>{{ site.data.rooms.extra }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Room One -->
<section id="intro" style="padding: 50px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ site.data.rooms.rooms[0].title }}</h2>
          </div>
          <p>{{ site.data.rooms.rooms[0].body }}</p>
          <b>Inclusief:</b>
          <div class="row">
          {% for icon in site.data.rooms.rooms[0].includes %}
            <div class="col-sm-5 room_icons">
              <i class="{{ icon.icon }}"></i>
              <span>{{ icon.title }}</span>
            </div>
          {% endfor %}
          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="http://placehold.it/500x300" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<!-- Room Two -->
<section id="intro" style="padding: 50px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="http://placehold.it/500x300" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ site.data.rooms.rooms[1].title }}</h2>
          </div>
          <p>{{ site.data.rooms.rooms[1].body }}</p>
          <b>Includes:</b>
          <div class="row">
          {% for icon in site.data.rooms.rooms[1].includes %}
            <div class="col-sm-6 room_icons">
              <i class="{{ icon.icon }}"></i>
              <span>{{ icon.title }}</span>
            </div>
          {% endfor %}
          </div>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Reserveer nu!</h2>
          <p>Voor meer informatie of reservaties gelieve ons via deze pagina te contacteren.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Geef ons een seintje</a>
        </div>
      </div>
    </div>
  </div>
</section>
