<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">Over ons</a></li>
            <li><a href="{{ site.baseurl }}/zaal">Onze zaal</a></li>
            <li><a href="{{ site.baseurl }}/services">Services</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contacteer ons</a></li>
          </ul>
        </div>
        <p>Design &amp; Developed by <a href="http://www.bynyden.com">bynyden</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
